@import 'utilities';

body{
    min-height: 100vh;
    background-image: gradient(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#download{
    position: fixed;
    top: 40px;
    left: 20px;
    width: 200px;
    height: 70px;
    font-size: 30px;
    background-color: salmon;
    color: white;
}